<!-- INTERPOLATION SYNTAX  -->

<%- include("includes/head") %> 
<body>
    <h1>This is the home page</h1>
    <h3><%= "apnacollege".toUpperCase() %></h3>
    <h3><%= 1 + 2 %></h3>
    <h3><%= ["hello" , "bonjur" , "namaste"][0] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur perspiciatis, sunt accusantium optio est doloremque adipisci blanditiis. Molestiae, reprehenderit fugiat! Repellat in alias harum asperiores magnam sunt incidunt. Dolores, ex?</p>
    <button>Click</button>
</body>
</html>  
  
